@media (min-width: 990px) {
    .ultiVideos{
        padding-left: 80px;
    }
}

.blogsImportantes{
    background-image: url(/img/linea73.png);
    background-repeat: no-repeat;
    background-position: top center;}

.principal {
    width: 100%; /* 100% del ancho de la ventana */
    height: 100%; /* 100% de la altura de la ventana */
    background-size: cover; /* ajusta la imagen manteniendo su relación de aspecto y cubriendo el contenedor */
    background-position: center; /* centra la imagen */
    background-repeat: no-repeat; /* evita que la imagen se repita */
}

/* -- */

.linkAPaginaBlog{
    padding: 5px;
    color:white; 
    transition: transform 0.3s ease;
}

.linkAPaginaBlog:hover{
    transform: scale(0.95);
}

/* -- */

.cuerpoBlog {
    display: -webkit-box; /* Necesario para usar -webkit-line-clamp */
    -webkit-line-clamp: 7; /* Limita el contenido a 5 líneas */
    -webkit-box-orient: vertical; /* Necesario para usar -webkit-line-clamp */
    overflow: hidden; /* Esconde el contenido que excede el límite de líneas */
    text-overflow: ellipsis; /* Agrega los puntos suspensivos al final de la última línea */

    text-align: justify;
}

.blog-post-meta{
    color: gray;
}

/* -- */

img {
    max-width: 100%;
    height: auto;
}


