body{
	background: #f8fafb !important;
}
.formulario {
	width: 100%;
	max-width: 1200px;
	margin: 40px auto;
	padding: 10px;

	background-color: #f8fafb;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.custom-btn {
	width: fit-content;
	padding: 10px 20px; /* Ajusta el tamaño del botón según tus preferencias */
	border: 3px solid #20a49c;
	font-family: 'Noto Sans', sans-serif;
	border-radius: 5px;
	background: none;
	color: white;
	cursor: pointer;
	transition: 0.2s ease all;
	background: #20a49c;
}

.custom-btn:hover {
	background: white;
	color: #20a49c;
}

.contImg{
	display: flex;
    justify-content: center;
    align-items: center;
}

#imagen-preview {
	width: 300px;
	height: 200px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.imgP{
	width: 300px;
	height: 200px;
	border-radius: 10px;
}
